body { background: #fafafa;}
body.border { border: 3px solid red;}
#from { background: green; }

.open { 
	margin-left: 100px;
}
#from {    
	cursor: pointer;
	display: inline-block;
	transition-property: all;
    transition-duration: .3s;
}