@font-face{font-family:"UniversElse";src:url("lib/UniversElse/UniversElse-Bold.ttf") format("opentype");font-weight:400;font-style:normal;font-variant:normal}h1,h2,h3,h4{font-family:UniversElse,Arial,sans-serif}


@font-face {
    font-family: 'HerscheyFutura';
    src: url('/lib/herscheyfutura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HerscheyScript';
    src: url('/static/fonts/herscheyscript.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoproplt10-regular.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoprop10-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoproplt10-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoproplt10-oblique.otf') format('opentype');
    font-weight: light;
    font-style: italic;
}

body {
    margin: 0 10em;
    color: black;
    font-family: "LMProp" !important;
    font-size: 14px;
    line-height: 1.4em;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
}

h1 {
    font-family: "HerscheyFutura",sans-serif;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 12px;
    position: relative;
    z-index: 20;
}

h2 {
    font-family: "HerscheyScript",sans-serif;
    font-size: 14px !important;
    letter-spacing: 0.1em;
    line-height: 2em !important;
    margin-bottom: 6px;
    margin-top: 6px;
}